# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Testing
coverage/
*.lcov
